{% extends 'wglog_html/spa_base.html' %}
{% load static %}

{% block head %}
    <script type="text/javascript" src="{% static 'wglog_html/js/index.js' %}"></script>
{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control" name="name">
                    <option>жим</option>
                    <option>тяга</option>
                    <option>присед</option>
                </select>
            </div>
{#            <div class="input-group">#}
{#                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>#}
{#                <input type="text" class="form-control" name="note" placeholder="заметка">#}
{#            </div>#}
            <div class="form-group">
                <input type="date" class="form-control" name="date">
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline">
            <div class="input-group">
                <span class="input-group-addon">кг</span>
                <input type="text" class="form-control" name="weight">
            </div>
            <div class="input-group">
                <span class="input-group-addon">разы</span>
                <input type="text" class="form-control" name="reps">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Добавить</button>
            </div>
        </form>

        <br>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>Вес</th>
                        <th>Повторы</th>
                        <th>Объем</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>35</td>
                        <td>12</td>
                        <td>420</td>
                        <td>Х</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        Всего: <span>4850</span> кг
    </div>
</div>

{% endblock %}