{% extends 'wglog_html/spa_base.html' %}
{% load static %}

{% block head %}
  <script type="text/javascript" src="{% static 'wglog_html/js/index.js' %}"></script>
{% endblock %}

{% block content %}

<!--region START TRAINING PANEL-->
<div data-bind="visible: currentTraining() === undefined"
     class="js-new-training-block panel panel-default">
  <div class="panel-body">
    <div class="input-group">
      {# https://jqueryui.com/autocomplete/#remote-jsonp #}
      <input data-bind="value: selectedTrainingName"
             type="text" class="js-name form-control" placeholder="Название тренировки">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul data-bind="foreach: trainingNames"
            class="dropdown-menu dropdown-menu-right">
          <li><a data-bind="text: $data, click: function() { $root.selectedTrainingName($data) }" href="#"></a></li>
        </ul>
      </div>
      <div class="input-group-btn">
        <button data-bind="click: startTraining"
                type="button" class="btn btn-secondary"><i class="glyphicon glyphicon-play"></i></button>
      </div>
    </div>
  </div>
</div>
<!--endregion-->

<!--region STARTED TRAINING LIST-->
<div data-bind="visible: startedTrainings().length > 0 && currentTraining() === undefined "
     class="panel panel-default" style="display: none;">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <tbody data-bind="foreach: startedTrainings">
          <tr>
            <td data-bind="text: date"></td>
            <td data-bind="text: name"></td>
            {# todo: https://getbootstrap.com/docs/3.3/javascript/#popovers #}
            <td>
              <button data-bind="text: sets_short_summary" type="button"
                      class="btn btn-xs btn-link">
              </button>
            </td>
            <td data-bind="text: total_weight"></td>
            <td>
              <button data-bind="click: function(training) { $root.removeTraining(training) }"
                      type="button" class="glyphicon glyphicon-remove btn btn-xs"></button>
            </td>
            <td>
              {# todo: why don't work: data-bind="click: $root.continueTraining }" #}
              {# https://habrahabr.ru/post/124931/ #}
              {# http://jsfiddle.net/romanych/BtbZu/ #}
              <button data-bind="click: function(training) { $root.continueTraining(training) }"
                      type="button" class="glyphicon glyphicon-chevron-right btn btn-xs"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--endregion-->

<!--region CURRENT TRAINING PANEL-->
<div data-bind="visible: currentTraining() !== undefined"
     class="panel panel-default" style="display: none;">

  <!--region CURRENT TRAINING HEADER-->
  <div data-bind="with: currentTraining"
       class="panel-heading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2">
          <button data-bind="click: function() { $root.pauseTraining() }"
              type="button" class="btn btn-sm"><i class="glyphicon glyphicon-chevron-left"></i></button>
        </div>
        <div class="col-xs-5 clear-padding">
          <span data-bind="text: name"
                  style="font-size: 150%;"></span>
        </div>
        <div class="col-xs-2 clear-padding">
          <span data-bind="text: $root.currentTrainingPastTimer.pastTime"
                class="text-muted text-lcd text-nowrap pull-right"
                style="margin-top: 7px;"></span>
        </div>
        <div class="col-xs-3 text-right">
          <button data-bind="click: function() { $root.finishTraining() }"
              type="button" class="btn btn-sm"><i class="glyphicon glyphicon-stop"></i></button>
{#          <button data-bind="click: function() { /* setting */ }"#}
{#              type="button" class="btn btn-sm"><i class="glyphicon glyphicon-cog"></i></button>#}
        </div>
      </div>
    </div>
  </div>
  <!--endregion-->

  <div class="panel-body">

    <!--region CURRENT SET-->
    <div data-bind="with: currentSet"
         class="js-current-set-block container-fluid">

      <!--region WEIGHT REPS BUTTONS PANEL-->
      <div class="row">
        <div class="col-xs-6">
          {# todo: продолжать рост, если удерживать кнопку http://jsfiddle.net/LysCF/ #}
          <button data-bind="click: weight.increase" type="button"
                  class="btn btn-block btn-default btn-lg clear-bottom-radius">
            <i class="glyphicon glyphicon-chevron-up"></i>
          </button>
        </div>
        <div class="col-xs-6">
          <button data-bind="click: reps.increase" type="button"
                  class="btn btn-block btn-default btn-lg clear-bottom-radius"
                  style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
            <i class="glyphicon glyphicon-chevron-up"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <strong>
            <input data-bind="value: weight" type="text" min="0" pattern="\d*"
                   class="js-weight form-control text-center huge-input-size clear-radius">
          </strong>
        </div>
        <div class="col-xs-6">
          <strong>
            <input data-bind="value: reps" type="text" min="0" pattern="\d*"
                   class="js-reps form-control text-center huge-input-size clear-radius">
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <button data-bind="click: weight.decrease" type="button"
                  class="btn btn-block btn-default btn-lg clear-top-radius">
            <i class="glyphicon glyphicon-chevron-down"></i>
          </button>
        </div>
        <div class="col-xs-6">
          <button data-bind="click: reps.decrease" type="button"
                  class="btn btn-block btn-default btn-lg clear-top-radius">
            <i class="glyphicon glyphicon-chevron-down"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <p class="text-center"><strong>кило</strong></p>
        </div>
        <div class="col-xs-6">
          <p class="text-center"><strong>повторы</strong></p>
        </div>
      </div>
      <!--endregion-->

      <!--region TIMER PANEL-->
      <div data-bind="visible: $root.settings.set.is_by_start()"
           class="row">
        <div class="col-xs-4">
          <p style="margin-top: 7px;">Подход:</p>
        </div>
        <div class="col-xs-4 text-center">
          <span data-bind="text: started_at.pastTime"
                class="text-lcd text-nowrap"
                style="font-size: 29px;"></span>
        </div>
        <div class="col-xs-4 text-right">
          <button data-bind="visible: true, click: $root.startSet" type="button"
                  class="js-start-btn btn btn-secondary"><i class="glyphicon glyphicon-play"></i></button>
        </div>
      </div>
      <!--endregion-->

      <br>
      <div class="row">
        <div class="col-xs-12">
          <button data-bind="click: $root.addSet" type="button"
                  class="js-add-btn btn btn-block btn-lg">Добавить</button>
        </div>
      </div>

    </div>
    <!--endregion-->

    <br>

    <!--region CURRENT TRAINING SETS-->
    <!-- ko with: currentTraining -->
    <p class="text-right">Всего: <strong data-bind="text: total_weight"></strong> кг</p>
    <div class="table-responsive">
      <table class="table">
        <tbody data-bind="foreach: sets">
          <tr>
            <td data-bind="text: weight" class="text-center"></td>
            <td data-bind="text: reps" class="text-center"></td>
            <td data-bind="text: total_weight" class="text-center"></td>
            <td>
              <span class="pull-right">
                <button data-bind="click: function(set) { $root.removeSet(set) }"
                        type="button" class="btn btn-xs">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /ko -->
    <!--endregion-->

  </div>

</div>
<!--endregion-->

<audio id="start_set_player"
       src="{% static 'wglog_html/sounds/best_wake_up_sound.mp3' %}"
       preload="auto"></audio>

{% endblock %}