{% extends 'wglog_html/spa_base.html' %}
{% load static %}

{% block head %}
  <script type="text/javascript" src="{% static 'wglog_html/js/index.js' %}"></script>
{% endblock %}

{% block content %}

<div data-bind="visible: currentTraining() === undefined"
     class="panel panel-default" style="display: none;">
  <div class="panel-body">
    <div class="input-group">
      <select data-bind="options: trainingNames, value: selectedTrainingName"
              class="form-control">
      </select>
      <div class="input-group-btn">
        <button data-bind="click: startTraining"
                type="button" class="btn btn-secondary"><i class="glyphicon glyphicon-play"></i></button>
      </div>
    </div>
  </div>
</div>

<div data-bind="visible: startedTrainings().length > 0 && currentTraining() === undefined "
     class="panel panel-default" style="display: none;">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <tbody data-bind="foreach: startedTrainings">
          <tr>
            <td data-bind="text: date"></td>
            <td data-bind="text: name"></td>
            {# todo: https://getbootstrap.com/docs/3.3/javascript/#popovers #}
            <td>
              <button data-bind="text: sets_short_summary" type="button"
                      class="btn btn-xs btn-link">
              </button>
            </td>
            <td data-bind="text: total_weight"></td>
            <td>
              <button data-bind="click: function(training) { $root.removeTraining(training) }"
                      type="button" class="glyphicon glyphicon-remove btn btn-xs"></button>
            </td>
            <td>
              {# todo: why don't work: data-bind="click: $root.continueTraining }" #}
              {# https://habrahabr.ru/post/124931/ #}
              {# http://jsfiddle.net/romanych/BtbZu/ #}
              <button data-bind="click: function(training) { $root.continueTraining(training) }"
                      type="button" class="glyphicon glyphicon-play btn btn-xs"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div data-bind="visible: currentTraining() !== undefined"
     class="panel panel-default" style="display: none;">
  <!-- ko with: currentTraining -->
  <div class="panel-heading">
    <span data-bind="text: name"></span>
    <span class="pull-right">
      <button data-bind="click: function() { $root.pauseTraining() }"
          type="button" class="btn btn-xs"><i class="glyphicon glyphicon-pause"></i></button>
      <button data-bind="click: function() { $root.finishTraining() }"
          type="button" class="btn btn-xs"><i class="glyphicon glyphicon-stop"></i></button>
    </span>
  </div>
  <div class="panel-body">
    <div class="form-inline">
      <div class="input-group">
        <span class="input-group-addon">кг</span>
        <input type="text" class="form-control">
      </div>
      <div class="input-group">
        <span class="input-group-addon">разы</span>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <button type="button" class="btn"><i class="glyphicon glyphicon-plus"></i> Добавить</button>
      </div>
    </div>

    <br>

    <div class="table-responsive">
      <table class="table">
        <tbody data-bind="foreach: sets">
          <tr>
            <td data-bind="text: weight"></td>
            <td data-bind="text: reps"></td>
            <td data-bind="text: total_weight"></td>
            <td>Х</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer">
    Всего: <span data-bind="text: total_weight"></span> кг
  </div>
  <!-- /ko -->
</div>

{% endblock %}