{% extends 'wglog_html/spa_base.html' %}
{% load static %}

{% block head %}
  <script type="text/javascript" src="{% static 'wglog_html/js/training_list.js' %}"></script>
{% endblock %}

{% block content %}

<div data-bind="visible: trainings().length > 0"
     class="panel panel-default" style="display: none;">
  <div class="panel-body">

    <p data-bind="text: trainings().length" class="text-right"></p>

    <ul data-bind="foreach: trainings"
        class="list-group clear-margin">
      <li class="list-group-item">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3 clear-padding">
              <span data-bind="text: date"
                    class="text-muted"></span>
            </div>
            <div class="col-xs-6 clear-padding text-center">
              <strong data-bind="text: name"
                      style="font-size: 120%;"></strong>
            </div>
            <div class="col-xs-3 clear-padding text-right">
              <button type="button" class="glyphicon glyphicon-remove btn btn-sm"></button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 clear-padding">
              <strong><span  data-bind="text: total_weight"></span> кг:</strong>
              <span data-bind="text: sets_summary"></span>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>

{% endblock %}