{% extends 'wglog_html/spa_base.html' %}
{% load static %}

{% block head %}
  <script type="text/javascript" src="{% static 'wglog_html/js/training_list.js' %}"></script>
{% endblock %}

{% block content %}

<div data-bind="visible: trainings().length > 0"
     class="panel panel-default" style="display: none;">
  <div class="panel-body">
    <p data-bind="text: trainings().length" class="text-right">test</p>
    <div class="table-responsive">
      <table class="table">
        <tbody data-bind="foreach: trainings">
          <tr>
            <td data-bind="text: date"></td>
            <td data-bind="text: name"></td>
            <td>
              <button data-bind="text: sets_short_summary" type="button"
                      class="btn btn-xs btn-link">
              </button>
            </td>
            <td data-bind="text: total_weight"></td>
            <td><button type="button" class="glyphicon glyphicon-remove btn btn-xs"></button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

{% endblock %}