/**
 common styles
 */

@font-face {
    font-family: Lcd;
    src: url('../fonts/LCD14.otf');
}

.text-lcd {
    font-family: Lcd;
}

.clear-bottom-radius {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.clear-top-radius {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.clear-radius {
    border-radius: 0px;
}

.clear-padding {
    padding: 0px;
}

.clear-margin {
    margin: 0px;
}

.huge-input-size {
    font-size: 200%;
}